.App {
  width: 100%;
}

.cryptoCardContainer {
  display: grid;


}

.cryptoCard {

  background: #171822;
  border: 1px solid #303241;
  border-radius: 12px;
  color: white;
}

.cryptoCard--title {
  display: flex;
  align-items: center;
}

.cryptoCard--title img {
  width: 24px;
  height: 24px;
}